*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.padre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 1 / 3 / 2; }
    .logo img{
        max-width: 50%;
    }
    .titulo { grid-area: 1 / 2 / 2 / 3; }
    .subtitulo { grid-area: 2 / 2 / 3 / 3; }
    .redes { grid-area: 1 / 3 / 3 / 4; }
    .navegacion { grid-area: 3 / 1 / 4 / 4; }
    .logotipo img
